.App {
  text-align: center;
}

.title {
  margin: 8px 0;
}

.slick-slider {
  margin: 16px;
}

.slick-track {
  display: flex !important;
  max-height: 600px;
}
.slick-track .slick-slide {
  display: flex !important;
  height: auto !important;
  align-items: center !important;
  justify-content: center !important;
}

.form {
  width: 100%;
  max-width: calc(500px - 64px);
  margin: 32px auto;
}